@using GGMS.Web.ViewModels.GymOwner;
@model GymFormModel;

@{
    ViewData["Title"] = "Create Gym";
}

<h2>Create Model</h2>

<form asp-action="CreateGym" asp-controller="GymOwner" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Photos" class="control-label"></label>
        <input asp-for="Photos" type="file" class="form-control" multiple />
        <span asp-validation-for="Photos" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}