<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch API Example</title>
</head>
<body>
    <button id="1">Click me</button>
    <div id="output"></div>

    <script>
        // Get reference to the button and output div
        const btn = document.getElementById('1');
        const outputDiv = document.createElement('div');
        document.body.appendChild(outputDiv);

        btn.addEventListener('click', async () => {

            let res = await fetch('https://localhost:7113/Home/Action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify('ok')
            });



            outputDiv.innerHTML = await res.text()
        });
    </script>
</body>
</html>
